{% extends 'base_u2.html' %}
{% block content %}

<center>
<h2>Confirm Details</h2>
<br>
<center>
						
<table id="tab" width="50%">
<tr><td colspan=2><a href="#"><center><img height=200 src="{{baseUrl}}/{{data.picture}}" WIDTH="350" alt="" /></a></a>
<tr>
	<th>Name</td>
	<td>{{ data.n_a_m_e }}</td>
</tr>
<tr>
	<th>Email</td>
	<td>{{ data.e_mail }}</td>
</tr>
<tr>
	<th>Gender</td>
	<td>{{ data.gender }}</td>
</tr>
<tr><td><td>
<form method="post" action="/u_freqsend/">
	
	 {% csrf_token %}
	
	<input type="hidden" name="n_a_m_e" value="{{ data.n_a_m_e }}" >
	<input type="hidden" name="e_mail" value="{{ data.e_mail}}" >

	<input type="submit" value="Send Friend Request" class="form-control">

</form>

</tr>
</table>
{% endblock %}