{% extends 'base_a.html' %}
{% block content %}

<h4>{{msg}}</h4><br>

<h2>Training Page
<hr>
</h2><center>
	<table id="tab" width="60%">
	
	<tr><th>Upload Datasaet 1
<tr>

		<td><input type="file" class="form-control" name="file" required accept=".csv">
		<TR><td><form method="get" action="/d1svm/">
		<input type="submit" value="SVM " class="form-control"></td>	</form>
		<TR><td> <form method="get" action="/d1nb/">
		<input type="submit" value="Naive Bayes " class="form-control"></td>	</form>
		<TR><td><form method="get" action="/d1nn/"> 
		<input type="submit" value="Neural Network" class="form-control"></td>	</form>
		<TR><td><form method="get" action="/d1rf/"> 
		<input type="submit" value="Random Forest" class="form-control"></td>	</form>
		
		</table>

<br><br>
	<table id="tab" width="60%">
	
	<tr><th>Upload Datasaet 2
<tr>

		<td><input type="file" class="form-control" name="file" required accept=".csv">
		<TR><td><form method="get" action="/d2svm/">
		<input type="submit" value="SVM " class="form-control"></td>	</form>
		<TR><td> <form method="get" action="/d2nb/">
		<input type="submit" value="Naive Bayes " class="form-control"></td>	</form>
		<TR><td><form method="get" action="/d2nn/"> 
		<input type="submit" value="Neural Network" class="form-control"></td>	</form>
		<TR><td><form method="get" action="/d2rf/"> 
		<input type="submit" value="Random Forest" class="form-control"></td>	</form>
		
		</table>


<br><br>

{% endblock %}